In [61]:
from mysql_db import mysql_conn
mysql_conn = mysql_conn.mysql_connection()
conn = mysql_conn.mysql

In [62]:
# show databases
conn.execute('SHOW DATABASES')

for db_name in conn:
    print(db_name[0].decode())

information_schema
my_db
mydb
mysql
performance_schema
sys

In [63]:
def create_db(db_name : str ='mydb'):
    conn.execute('SHOW DATABASES')
    db_created = False
    for table_name in conn:
        if table_name[0].decode() == db_name:
            db_created = True

    print(f'Is DB - {db_name} already Created: {db_created}')
    if not db_created:
        conn.execute(f'CREATE DATABASE {db_name}')
        print(f'Database {db_name} is created.')

create_db(db_name= 'my_db')

Is DB - my_db already Created: True

In [64]:
conn.execute('Use mydb')

In [17]:
def drop_tables(table_name: list = None, db_name: str = None, conn: str = None):
    delete_table_list = [table_name] if type(table_name) == 'str' else table_name
    if conn == None:
        conn = mysql_conn.mysql
    if db_name is not None:
        conn.execute(f'USE {db_name}')
    
    conn.execute('SHOW Tables')
    for table_name in conn:
        table_name_str = table_name[0].decode()
        if table_name_str  in delete_table_list:
            conn.execute(f'Drop Table {table_name_str}')
            print(f'delete {table_name[0].decode()} table')
            continue
        print(f'{table_name_str} still persist')

In [87]:
drop_tables(table_name = 'student', db_name = 'mydb')
conn.execute('CREATE TABLE student (student_id INT, name VARCHAR(20), major VARCHAR(20), PRIMARY KEY(student_id));')

delete student table

In [24]:
conn.execute('Show tables')
for table_name in conn:
    print(table_name)

(bytearray(b'student'),)

In [42]:
conn.execute('DESCRIBE student')
for i in conn:
    print(i)

('student_id', b'int', 'NO', bytearray(b'PRI'), None, '')
('name', b'varchar(20)', 'YES', bytearray(b''), None, '')
('major', b'varchar(20)', 'YES', bytearray(b''), None, '')

In [41]:
conn.execute('ALTER TABLE student ADD gpa DECIMAL(3, 2);')
conn.execute('ALTER TABLE student DROP gpa;')

In [88]:
conn.execute('Insert INTO student VALUES(1, "Jack", "Biology");')

In [54]:
def show_table_results(query: str = None):
    if query == None:
        raise Exception('query cannot be None')
    
    conn.execute(query)
    for row1 in conn:
        print(row1)

In [76]:
show_table_results('Select * From student;')

(1, 'Jack', 'Bio')
(2, 'Kate', 'Sociology')
(3, 'Claire', 'Chemistry')
(4, 'Jack', 'Bio')
(5, 'Mike', 'Computer Science')

In [89]:
conn.execute('Insert INTO student VALUES(2, "Kate", "Sociology");')
# conn.execute('Insert INTO student(student_id, name) VALUES(3, "Claire");')
conn.execute('Insert INTO student VALUES(3, "Claire", "Chemistry");')
conn.execute('Insert INTO student VALUES(4, "Jack", "Biology");')
conn.execute('Insert INTO student VALUES(5, "Mike", "Computer Science");')

In [70]:
conn.execute('DROP TABLE student;')

In [66]:
conn.execute('CREATE TABLE student (student_id INT, name VARCHAR(20) NOT NULL, major VARCHAR(20) UNIQUE, PRIMARY KEY(student_id))')

In [83]:
conn.execute('UPDATE student SET major="Bio" WHERE major = "Biology";')
conn.execute('UPDATE student SET major="Comp Sci" WHERE major = "Computer Science";')
conn.execute('UPDATE student SET major="Comp Sci" WHERE student_id = 4;')
conn.execute('UPDATE student SET major="BioChemistry" WHERE major = "Bio" OR major = "Chemistry";')

# If remove where condition then the changes will be affected to every single row.

In [85]:
conn.execute('DELETE FROM student where student_id = 5')

In [ ]:
show_table_results('Select * From student;')

In [102]:
show_table_results('Select student.name, student.major From student ORDER BY student_id DESC;')
print('============')
show_table_results('Select * From student ORDER BY major, student_id ASC;')
print('============')
show_table_results('Select * From student ORDER BY major, student_id ASC limit 2;')
print('============')
show_table_results('Select * From student Where name IN ("Claire", "Kate", "Mike");')

('Mike', 'Computer Science')
('Jack', 'Biology')
('Claire', 'Chemistry')
('Kate', 'Sociology')
('Jack', 'Biology')
============
(1, 'Jack', 'Biology')
(4, 'Jack', 'Biology')
(3, 'Claire', 'Chemistry')
(5, 'Mike', 'Computer Science')
(2, 'Kate', 'Sociology')
============
(1, 'Jack', 'Biology')
(4, 'Jack', 'Biology')
============
(2, 'Kate', 'Sociology')
(3, 'Claire', 'Chemistry')
(5, 'Mike', 'Computer Science')